{% extends "layout/basic.html" %}
{% block content %}
<div class="row" data-sticky-parent>
    <div class="medium-9 columns">
        {% block realname_content %}{% endblock %}
    </div>
    <div class="medium-3 columns">
        <div data-sticky="large">
            <div class="section side">
                <ol class="menu">
                    <li class="menu__item">
                        <div class="menu__link expandable">
                            <span class="icon icon-feeling-lucky"></span> {{ _('实名认证管理') }}
                        </div>
                        <ol class="menu collapsed">
                            <li class="menu__item" id="menu-item-realname_show">
                                <a class="menu__link{% if page_name == 'realname_show' %} active{% endif %}" href="{{ url('realname_show') }}">
                                    {{ _('realname_show') }}
                                </a>
                            </li>
                            {% if handler.user.hasPriv(PRIV.PRIV_SET_PERM) %}
                            <li class="menu__item" id="menu-item-realname_set">
                                <a class="menu__link{% if page_name == 'realname_set' %} active{% endif %}" href="{{ url('realname_set') }}">
                                    {{ _('realname_set') }}
                                </a>
                            </li>
                            <li class="menu__item" id="menu-item-realname_import">
                                <a class="menu__link{% if page_name == 'realname_import' %} active{% endif %}" href="{{ url('realname_import') }}">
                                    {{ _('realname_import') }}
                                </a>
                            </li>
                            <li class="menu__item" id="menu-item-realname_quick">
                                <a class="menu__link{% if page_name == 'realname_quick' %} active{% endif %}" href="{{ url('realname_quick') }}">
                                    {{ _('realname_quick') }}
                                </a>
                            </li>
                            <li class="menu__item" id="menu-item-realname_resetpwd">
                                <a class="menu__link{% if page_name == 'realname_resetpwd' %} active{% endif %}" href="{{ url('realname_resetpwd') }}">
                                    {{ _('Reset Password') }}
                                </a>
                            </li>
                            {% endif %}
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}
